@font-face {
    font-family: 'Mekanicus';
    src: url(Fonts/Mekano1-z7AL.ttf);
} 

*{
    padding: 0;
    margin: 0;
}

body {
    margin-left: 10%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-self: center;
    border: solid 2px;
    border-color: black;
    width: 80%;
}

header {
    font-size: large;
    background-color: grey;
}



p {
    padding-bottom: 10px;
    font-style: italic;
    color: white;
    font-size: large;
}

img {
    width: 220px;
    padding-bottom: 10px;
}

section {
    padding-bottom: 20px;
    font-size: large;
    background-color: grey;
}

h1 {
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}

h3 {
    padding-bottom: 10px;
    font-size: large;
}

h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    font-size: large;
}

li  {
    font-style: oblique;
    font-size: large;
    text-shadow: solid;
    text-shadow: 10px;
    color: white;
}

footer {
    background-color: black;
    color: white;
    position: relative;
    align-content: end;
    text-align: center;
    font-size: large;
    width: 100%;
}